@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=NTR&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "NTR", sans-serif;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style-type: none;
}

p {
    line-height: 1.5;
    font-size: 14px;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

section {
    background-color: rgb(245, 245, 245);
    transition: all 300ms ease;
}

input,
textarea {
    width: 100%;
    background-color: #242424;
    color: white;
    outline: none;
    border: 3px solid #c0c4cc;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 40px;
    transition: all 300ms ease;

}

label {
    font-size: 14px;
    font-weight: bold;
}

textarea {
    resize: vertical;
    height: 100px;
    margin-top: 8px;
}

.input:hover,
textarea:hover {
    border-color: #dcdfe6;
}

input:focus,
textarea:focus {
    border-color: #f06449;
}

.container {
    padding: 50px 0;
    width: 100%;
}

.row {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 12px;
}

.click {
    transition: all 300ms ease;
    cursor: pointer;
}

.click:hover {
    transform: scale(1.1);
}

.click:active {
    transform: scale(0.8);
}

.title {
    font-size: 86px;
    padding-bottom: 5px;
    text-align: left;
    line-height: 1;
    z-index: 100;
}

.sub {
    font-size: 46px;
    margin: 10px 0;
    text-align: left;
    line-height: 1;
    z-index: 100;
    color: #8892b0;
}

.orange {
    color: #f06449;
}

.link__hover--effect {
    position: relative;
}

.link__hover--effect:after {
    content: '';
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    background-color: black;
    transition: all 600ms ease
}

.link__hover--effect--white:after {
    background-color: white;
}

.link__hover--effect--black {
    background-color: black;
}

.link__hover--effect:hover:after {
    left: 5;
    width: 100%;
}

nav,
.scroll,
.header {
    opacity: 1;
    visibility: visible;
    transition: all 600ms 200ms;
}

.modal--open nav,
.modal--open .scroll,
.modal--open .header {
    opacity: 0;
    visibility: hidden;
    transition: all 400ms;
}


.dark-theme .title,
.dark-theme .section__title,
.dark-theme .section__sub-title,
.dark-theme .nav__link--anchor,
.dark-theme .fa-adjust {
    color: white;
}

.title {
    color: black;
}

.section__title {
    color: black;
}

.dark-theme .header__para {
    color: #8892b0;
    ;
}

.dark-theme .social__link {
    background-color: #64ffda;
    color: #0a192f;
}

.dark-theme section {
    background-color: #0a192f;
}

.dark-theme #personal-logo {
    filter: invert(1);
}

.dark-theme .scroll__icon {
    border-color: white;
}

.dark-theme .scroll__icon:after {
    background-color: white;
}

.dark-theme .mail__btn {
    background-color: white;
    color: #242424;
}

.dark-theme .orange {
    color: #64ffda;
}

.dark-theme .link__hover-effect--black:after {
    background-color: white;
}

.dark-theme .link__hover-effect--white:after {
    background-color: #242424;
}

/* 


Landing


*/
#landing-page {
    min-height: 100vh;
}

#fractal-tree {
    width: 250px;
    height: 100%;
    padding-bottom: 12px;
}

.header {
    position: absolute;
    top: 40%;
    left: 48%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;

}

.header__para {
    font-size: 22px;
    line-height: 1.4;
    max-width: 530px;
    color: #8892b0;

}

.social__list {
    margin-top: 16px;
    display: flex;
}

.social__link {
    background-color: #f06449;
    color: white;
    padding: 6px;
    width: 32px;
    height: 32px;
    font-size: 14px;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.mail__btn {
    width: 70px;
    height: 70px;
    font-size: 32px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #242424;
    color: white;
    position: fixed;
    bottom: 32px;
    right: 40px;
    z-index: 100;
    box-shadow: 0 12px 30px 0 rgb(0, 0, 0, 0.28);
}


.scroll {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);


}

.scroll__icon {
    width: 20px;
    height: 30px;
    border: 2px solid #242424;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll__icon:after {
    content: '';
    width: 4px;
    height: 6px;
    background-color: #242424;
    border-radius: 4px;
    animation: scroll 1000ms infinite alternate-reverse;

}

@keyframes scroll {
    0% {
        transform: translateY(3px);
    }

    100% {
        transform: translateY(-3px);
    }
}


/* 


NAV


*/

.header__content {}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 96%;
    margin: 0 auto;
    padding: 0 20px;
    height: 100px;

}

#personal-logo {
    width: 100px;
    height: 100px;
    padding-top: 12px;
    filter: invert(0);
}

.nav__link--list {
    display: flex;
}

.nav__link {
    margin: 0 12px;
}

.nav__link--anchor {
    font-size: 19px;
    color: #242424;
    font-weight: 700;
}

.fa-adjust {
    font-size: 20px;
    transition: all 600ms ease;
}

.fa-adjust:hover {
    transform: rotate(-90deg);
}



/* MODAL */

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1000px;
    height: 600px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    visibility: hidden;
    z-index: -1;
    transition: visibilty 1s, z-index 1s, box-shadow 0.5 ease;
}

.modal--open .modal {
    z-index: 60;
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55);
    visibility: visible;
}

.modal__half {
    width: 50%;
    padding: 40px 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    transition: all 300ms ease-in;
}

.modal--open .modal__about,
.modal--open .modal__contact {
    transform: translateX(0%);
}

.dark-theme .bolded {
    font-weight: bold;
    color: #64ffda;
}

.dark-theme .flask {
    filter: invert(1);
}

.modal__about {
    background-color: rgb(245, 245, 245);
    transform: translateX(-110%);
    color: black;
}

.dark-theme .modal__about {
    background-color: #0a192f;
    color: white;
}

.modal__contact {
    background-color: #242424;
    color: white;
    transform: translateX(110%);
}

.modal__languages {
    display: flex;
    flex-wrap: wrap;
}

.modal__language {
    width: 25%;
    padding: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 300ms ease-in;
}

.modal__language:hover .language__name {
    transform: scale(1);
}

.modal__language:hover {
    filter: brightness(80%);
    transform: scale(0.9);
}

.language__name {
    position: absolute;
    bottom: -10px;
    transform: scale(0);
    transition: all 300ms ease;
}

.modal__language--img {
    width: 100%;
}



.modal__title {
    font-size: 26px;
}

.modal__sub-title {
    margin: 12px 0 24px 0;
    font-size: 14px;
}

.modal__para {
    margin-bottom: 12px;
    line-height: 1.75;
}

.form__item {
    margin-bottom: 20px;
}

.form__submit {
    background-color: #f06449;
    border: 2px solid #f06449;
    color: white;
    font-weight: 700;
    width: 100%;
    max-width: 240px;
    padding: 6px 12px;
    font-size: 20px;
    border-radius: 1px;
    transition: all 300ms ease;
}

.dark-theme .form__submit {
    background-color: #64ffda;
    border: 2px solid #64ffda;
    color: rgb(0, 0, 0);
    font-weight: 700;
    width: 100%;
    max-width: 240px;
    padding: 6px 12px;
    font-size: 20px;
    border-radius: 1px;
    transition: all 300ms ease;
}

.form__submit:hover {
    border-color: #fff;
    background-color: transparent;
}

.dark-theme .form__submit:hover {
    border-color: white;
    color: white;
    background-color: transparent;
}

.form__submit:active {
    border-color: #f06449;
    color: #f06449;
}

.dark-theme .form__submit:active {
    border-color: #64ffda;
    color: #64ffda;
}

.modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;

}

.modal__overlay--loading {
    background-color: #242424;
    font-size: 60px;
    z-index: -1;
}

.modal__overlay--success {
    background-color: #4bb543;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 28px;
    z-index: -1;

}

.modal__overlay--visible {
    z-index: 1;
    display: flex;
}





.fa-spinner {
    animation: spinner 860ms infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }

}

.modal__exit {
    position: absolute;
    top: 30px;
    right: 40px;
    color: #fff;
    font-size: 36px;
    z-index: 100;
}



/* PROJECTS */

.section__title {
    text-align: center;
    font-size: 48px;
    margin-bottom: 60px;
    position: relative;
}

.project__img {
    width: 100%;
}

.project__wrapper {
    cursor: pointer;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.45);
    overflow: hidden;
    margin-bottom: 60px;
    object-fit: cover;
    object-position: center;

}


.project__wrapper:hover .project__description {
    opacity: 1;
    transform: translateY(-50%);
}

.project__wrapper:hover .project__img {
    transform: scale(1.1);
    filter: blur(5px);
    transition: all 400ms ease;
}


.project__description {
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(100%);
    opacity: 0;
    transition: opacity 300ms, transform 450ms ease;
    color: white;
    max-width: 550px;
}

.project__wrapper:hover .project__wrapper--bg {
    opacity: 0.7;
}

.project__wrapper--bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #242424;
    opacity: 0;
    object-fit: cover;
    object-position: center;
}

.project__description--title {
    font-size: 40px;
}

.project__description--sub-title {
    margin: 8px 0;
    font-size: 26px;
}

.project__description--link {
    color: white;
    font-size: 30px;
    margin-right: 16px;
}

.project__description--para {
    margin: 16px 0;font-size: 20px;
}

/* FOOTER */

footer {
    background-color: #242424;
    display: flex;
    position: relative;
}

.footer__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__logo--img {
    width: 70px;
}

.footer__social--list {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    margin: 28px 0;
}

.footer__social--link,
.footer__copyright {
    color: white;
}

/* SHAPES */

.shape {
    position: fixed;
}

.shape--0 {
    height: 15vh;
    left: 5vw;
    width: 15px;
}

.shape--1 {
    height: 15vh;
    left: 50vw;
    width: 15px;
}

.shape--2 {
    height: 15vh;
    left: 80vw;
    width: 15px;
}

.shape--3 {
    display: none;
    height: 80vh;
    left: 5vw;
    width: 15px;
}

.shape--4 {
    height: 80vh;
    left: 50vw;
    width: 15px;

}

.shape--5 {
    height: 80vh;
    left: 80vw;
    width: 15px;
}

.shape--6 {
    height: 140vh;
    left: 5vw;
    width: 15px;
}

.shape--7 {
    height: 140vh;
    left: 50vw;
    width: 15px;
}

.shape--8 {
    height: 140vh;
    left: 80vw;
    width: 15px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
}

.joblist-container {
    display: flex;
}

.joblist-tabs {
    display: flex;
    flex-direction: column;
    position: relative;
}

.joblist-tabs:before {
    content: '';
    position: absolute;
    height: 350px;
    /* Fixed height for the line */
    width: 1px;
    background-color: #444;
    right: 0;
}


.joblist-active-line {
    position: absolute;
    height: 40px;
    width: 3px;
    background-color: #f06449;
    right: -1.5px;
    transition: top 0.3s;
}

.dark-theme .joblist-active-line {
    position: absolute;
    height: 40px;
    width: 3px;
    background-color: #64ffda;
    right: -1.5px;
    transition: top 0.3s;
}

.dark-theme .joblist-tab {
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
    font-size: 1.2rem;
    color: #fff;
    width: 200px;
    transition: background-color 0.3s;
}

.joblist-tab {
    color: #000000;
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
    font-size: 1.2rem;
    width: 200px;
    transition: background-color 0.3s;
}

.joblist-tab:hover {
    background-color: rgba(68, 68, 68, 0.5);
    /* Change the color with an alpha value for fade effect */
}

.dark-theme .joblist-tab.active {
    background-color: transparent;
    color: #64ffda;
}

.joblist-tab.active {
    color: #f06449;
}

.joblist-content {
    position: relative;
    width: 100%;
}

.joblist-panel {
    display: none;
    padding: 10px;
    background-color: transparent;
    margin-left: 4%;
    margin-bottom: 2%;
}

.joblist-panel.active {
    display: block;
}

.joblist-job-title,
.joblist-job-company {
    display: inline;
    font-family: "NTR", sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #8892b0;
}

.joblist-job-company {
    color: #f06449;
}

.dark-theme .joblist-job-company {
    color: #64ffda;
    font-style: normal;
}

.joblist-job-title {
    font-weight: bold;
    margin-right: 5px;
}



.joblist-duration {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.2rem;
}

.hr {
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #444;
}

.job-description {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 86%;
}

.dark-theme .job-description li {
    color: #d0d9f6;
}

.job-description li {
    list-style-type: none;
    color: #000000;
    font-size: 18px;
    display: block;
    text-indent: -1.4em;
    padding-left: 2em;
    margin-bottom: 12px;
    width: 100%;
    box-sizing: border-box;
}

.tablisttag {
    font-size: 26px;
    padding-right: 4px;
}

.fa-play {
    color: #64ffda;
    font-size: 10px;
}

.education_me_title {
    text-align: left;
}

#education {
    padding: 0 60px;
}

#about-me {
    padding: 0 60px;
}

/* About me */
.dark-theme {
    background-color: #0a192f;
}

.stack {
    color: black;
}

.dark-theme .stack {
    color: #dcdfe6;
}

.fa-play {
    color: #f06449;
}

.dark-theme .fa-play {
    color: #64ffda;
}

#about-me {
    /* padding: 0 60px; */
}

.joblist-duration {
    color: black;
}

.dark-theme .joblist-duration {
    color: white;
}

.about-me_desc {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.right_about-me {
    width: 50%;
}

.meimg {
    width: 300px;
    border-radius: 6px;
    margin-left: 20%;
}

.left_about-me {
    width: 50%;
}

.about-me_title {
    text-align: start;
}

.left_list_tech-title {
    margin: 20px 0;
    font-size: 24px;
}

.stack_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    max-width: 50px;
    margin-bottom: 12px;

}

.dark-theme .stack_list {
    color: #8892b0;
}

.stack {
    list-style: none;
    display: flex;
    align-items: center;
    width: 150px;
    /* adjust the width */
}

.stack i {
    margin-right: 10px;
}

@media (max-width: 1100px) {
    header {
        padding: 2% 10%;
    }

    .about_me-header_para {
        display: none;
    }

}

@media (max-width: 768px) {
    #education{
        padding-left: 0;
        padding-right: 0;
    }
    #about-me{
        padding-left: 0;
        padding-right: 0;
    }
    #landing-page{
        padding-left: 0;
        padding-right: 0;
    }
    #education {
        display: flex;
        flex-direction: column;
    }
    .joblist-tabs {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
    }
    .job-description li{
        font-size: 12px;
    }
    .tablisttag{
        font-size: 14px;
    }
    .joblist-tab{
        border-bottom: 1px solid #ddd;
    }
    .joblist-job-title{
        text-align: center;
        color: black;
        font-size: 20px;
    }
    .joblist-job-company{
        font-weight: bold;
        color: #d85439;
        font-size: 20px;
    }
    .joblist-content{
        width: 90%;
        height: fit-content;
        background-color: #8892b0;
        border-radius: 6px;
        color: white;
        font-size: 12px;
        text-align: center;
    }
    .joblist-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .joblist-tabs:before {
        display: none;
    }
    .joblist-active-line{
        display: none;
    }
    .education_margin_bottom{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #landing-page {
        min-height: 90vw;
    }

    .section__title {
        display: flex;
        justify-content: center;
    }

   

    /* .joblist-tabs{
        display: flex;
        width: max-content;
    } */
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        width: 100%;
        max-width: 1000px;
        margin-top: 20%;
        /* margin-bottom: 10%; */
    }


    .about-me_title {
        text-align: center;
        padding-bottom: 2px;
        margin-bottom: 2px;
    }

    .stack {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        /* adjust the width */
    }

    .left_list_tech-title {
        text-align: center;
        margin-right: 0;
    }

    .stack_list {
        display: grid;
        padding: 0;
        text-align: center;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        max-width: fit-content;

    }

    .left_about-me {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
    }

    .header__para {
        text-align: center;
    }

    .left_about-me-para {
        font-size: 24px;
    }

    .right_about-me {
        display: none;
    }

    .scroll__icon {
        display: none;
    }

    .nav__link--list {
        padding: none;
    }

    #fractal-tree {
        display: none;
    }

    .title {
        font-size: 50px;
        text-align: center;

    }

    .header__para {
        text-align: center;
        max-width: max-content;
    }

    .social__list {
        padding: 0;
        margin: 0;
        margin-top: 24px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    p {
        font-size: 16px;
    }

    .modal {
        top: 0;
        left: 0;
        transform: none;
        height: auto;
        width: 100%;
        flex-direction: column-reverse;

    }

    .modal__half {
        width: 100%;
        border-radius: 0;
    }


}

@media(max-width: 500px) {
    .stack {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        /* adjust the width */
    }


    .stack_list {
        display: grid;
        padding: 0;
        text-align: center;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        max-width: fit-content;

    }

    .mail__btn {
        display: none;
    }

    #landing-page {
        min-height: 90vw;
    }

    #about-me {
        padding-top: 12%;
    }
}

@media(max-width: 500px) {

    header {
        justify-content: center;
        align-items: center;
    }

    .left_about-me-para {
        font-size: 18px;
        width: 95%;
    }

    .title {
        font-size: 30px;
    }

    .section__title {
        font-size: 26px;
    }

    p {
        font-size: 14px;
    }

    .nav__link:first-child {
        display: none;
    }

    .project__description--para {
        display: none;
    }

    .project__description {
        left: 0;
        padding: 0;
        width: 100%;
        text-align: center;
    }

    .project__description--sub-title {
        margin-bottom: 8px;
    }

    .modal__half {
        padding: 40px;
    }
}




@media (max-width: 690px) {
    #personal-logo {
        display: none;
    }

}


textarea {
    resize: none;
}


h1 {
    font-family: "NTR", sans-serif;
    font-weight: bold;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
}

.dark-theme .cursor {
    display: inline-block;
    animation: blink 1s steps(1) infinite;
    color: #64ffda;
}

.cursor {
    display: inline-block;
    animation: blink 1s steps(1) infinite;
    color: #f06449;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}